*.wededede {
			background-color: lightblue;
			width: 100%;
			color: white;
			margin: 20px auto;
			padding: 15px;
		}

		table {	
	  	font-family: arial;
	  	border-collapse: collapse;
		width: 55%;
		text-align: center;
		}

		td, th , tr {
	  	border: 3px solid #dddddd;
	  	text-align: left;
	  	padding: 8px;
		}

		body {
		background-color: lightyellow;
		text-align: left;	
		}

		p {
  		margin: 25px 50px 75px 100px;
  		font-family: calibri;
  		font-size: 18px;
  		text-align: center;
  		border-style: dashed;
  		border-top-style: dotted;
  		border-radius: 5px;
  		border-color: lightblue;
  		border-top-color: white;
  		border-width: 10px;

  		}

